@model FireSafe.Models.Incendio 
@{
    ViewData["Title"] = "Incendio";
    ViewData["Utilizador"] = @ViewBag.Utilizador;
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<footer id="footer" style="max-height:100%; padding-top: 5%">
    <h2 style="font-size: 30px; text-align:center"><b>@Html.DisplayTextFor(model => model.localizacao.Freguesia), @Html.DisplayTextFor(model => model.localizacao.Concelho), @Html.DisplayTextFor(model => model.localizacao.Distrito)</b></h2>
    <h2 style="font-size: 22px; text-align:center">@Html.DisplayTextFor(model => model.Latitude) ; @Html.DisplayTextFor(model => model.Longitude)</h2>

    <div>
        <div class="information" style="padding-top: 5%; text-align: center; font-size: 20px">
            <b>Meios Humanos</b><br>@Html.DisplayTextFor(model => model.Meios_Humanos)
        </div>
        <div class="information" style="padding-top: 2.5%; text-align: center; font-size: 20px">
            <b>Meios Terrestres</b><br>@Html.DisplayTextFor(model => model.Meios_Terrestres)
        </div>
        <div class="information" style="padding-top: 2.5%; text-align: center; font-size: 20px">
            <b>Meios Aéreos</b><br>@Html.DisplayTextFor(model => model.Meios_Aereos)
        </div>

        <div class="information" style="padding-top: 2.5%; text-align: center; font-size: 20px">
            <b>Data Início</b><br>@Html.DisplayTextFor(model => model.Inicio)
        </div>

        <div class="information" style="padding-top: 2.5%; text-align: center; font-size: 20px">
            <b>Temperatura Atual -> </b>@Html.DisplayTextFor(model => model.meteorologia.Temp_atual) ºC<br>
            <b>Temperatura Mínima -> </b>@Html.DisplayTextFor(model => model.meteorologia.Temp_min) ºC<br>
            <b>Temperatura Máxima -> </b>@Html.DisplayTextFor(model => model.meteorologia.Temp_max) ºC<br>

            <b>Humidade -> </b>@Html.DisplayTextFor(model => model.meteorologia.Humidade)%
        </div>
    </div>
</footer>